/*________________________ Variables ____________*/
/*________________________ Global Styles ____________*/
* {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto; }

.button {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .6rem 3rem;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center; }

.button_highlight {
  background: #217bb7; }

.button_secondary {
  background: rgba(250, 250, 250, 0.35); }

.button_small {
  padding: .3rem 1.5rem; }

.cf:after,
.cf:before {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/*________________________ Banner Styles ____________*/
#banner {
  background-image: url(../images/banner_background.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  #banner header {
    padding: 2rem 0; }
  #banner #logo {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.35rem;
    float: left;
    margin: 0; }
    #banner #logo span {
      font-weight: 400; }
  #banner nav {
    float: right; }
    #banner nav a {
      color: #FFFFFF;
      font-weight: 700;
      text-decoration: none;
      margin-left: 2rem; }
  #banner .content {
    padding: 4rem 0 8rem 0; }
    #banner .content .title, #banner .content .sub_title {
      color: #FFFFFF;
      text-align: center; }
    #banner .content .title {
      font-size: 3.5rem;
      margin: 0; }
    #banner .content .sub_title {
      font-weight: 400;
      font-size: 1.35rem;
      width: 500px;
      margin: 0 auto 2rem auto;
      line-height: 1.75; }
    #banner .content .button_wrapper {
      text-align: center;
      margin: 3rem 0; }
      #banner .content .button_wrapper .button {
        margin: 0 .75rem; }

/*________________________ Services Styles ____________*/
#services {
  background: #217bb7;
  padding: 2rem 0 6.5rem 0;
  position: relative; }
  #services .service {
    background: #FFFFFF;
    width: 31%;
    float: left;
    margin: -5rem 1% 0 1%;
    padding: 3rem 2.5%;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
    -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
    box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
    border-radius: .25rem; }
    #services .service h3 {
      margin: 0;
      font-size: 1.5rem;
      color: #00649f; }
    #services .service p {
      margin: 0 0 2rem 0;
      color: #00649f; }
    #services .service .button {
      padding: .5rem 2rem; }
    #services .service:after {
      content: " ";
      position: absolute;
      left: 50%;
      bottom: -50px;
      height: 50px;
      border-left: 2px solid #c9c7d3; }
  #services:before {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: 54px;
    border-top: 2px solid #c9c7d3;
    width: 59.5%;
    margin-left: -30.1%; }
