/*________________________ Variables ____________*/

$white: #FFFFFF;
$highlight: #217bb7;
$gray_background: #217bb7;
$gray_copy: #3e4851;
$dark_gray: #00649f;


/*________________________ Global Styles ____________*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}

.button {
	border: none;
	outline: none;
	border-radius: 2rem;
	padding: .6rem 3rem;
	font-weight: 700;
	color: $white;
	text-decoration: none;
	text-align: center;
}

.button_highlight {
	background: $highlight;
}

.button_secondary {
	background: rgba(250, 250, 250, 0.35);
}

.button_small {
	padding: .3rem 1.5rem;
}

.cf:after,
.cf:before {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

/*________________________ Banner Styles ____________*/

#banner {
	background-image: url(../images/banner_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	header {
		padding: 2rem 0;
	}
	#logo {
		color: $white;
		font-weight: 700;
		font-size: 1.35rem;
		float: left;
		margin: 0;
		span {
			font-weight: 400;
		}
	}
	nav {
		float: right;
		a {
			color: $white;
			font-weight: 700;
			text-decoration: none;
			margin-left: 2rem;
		}
	}
	.content {
		padding: 4rem 0 8rem 0;
		.title, .sub_title {
			color: $white;
			text-align: center;
		}
		.title {
			font-size: 3.5rem;
			margin: 0;
		}
		.sub_title {
			font-weight: 400;
			font-size: 1.35rem;
			width: 500px;
			margin: 0 auto 2rem auto;
			line-height: 1.75;
		}
		.button_wrapper {
			text-align: center; 
			margin: 3rem 0; 
			.button {
				margin: 0 .75rem;
			}
		}
	}
}

/*________________________ Services Styles ____________*/


#services {
	background: $gray_background;
	padding: 2rem 0 6.5rem 0;
	position: relative;
	.service {
		background: $white;
		width: 31%;
		float: left;
		margin: -5rem 1% 0 1%;
		padding: 3rem 2.5%;
		text-align: center;
		position: relative;
		-webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
		-moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
		box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
		border-radius: .25rem;
		h3 {
			margin: 0;
			font-size: 1.5rem;
			color: $dark_gray;
		}	
		p {
			margin: 0 0 2rem 0;
			color: $dark_gray;
		}
		.button {
			padding: .5rem 2rem;
		}
		&:after {
			content: " ";
			position: absolute;
			left: 50%;
			bottom: -50px;
			height: 50px;
			border-left: 2px solid #c9c7d3;
		}
	}
	
	.middle {
		&:after {
			bottom: -105px;
			height: 105px;
		}
	}

	&:before {
			content: " ";
			position: absolute;
			left: 50%;
			bottom: 54px;
			border-top: 2px solid #c9c7d3;
			width: 59.5%;
			margin-left: -30.1%;
		}

}

/*________________________ Past Work ____________*/

#past_work {
	background: $dark_gray;
	padding: 5rem 0 25rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	.title {
		color: $white;
		font-size: 2.5rem;
		margin: 0 0 .75rem 0; 
	}
	.logos {
		width: 750px;
		max-width: 95%;
	}
	#slider_buttons {
		list-style: none;
		padding: 0;
		margin: 2rem 0;
		li {
			width: 9px;
			height: 9px;
			margin: 0 .5rem;
			position: relative;
			border-radius: 100%;
			display: inline-block;
			background-color: #5b596e;
			transition: background .4s ease-in-out;
			&:hover {
				background: $highlight;
			}
		}
		.current {
			background-color: $highlight;
		}
	}
	#slider {
		list-style: none;
		li {
			width: 600px;
			height: 375px;
			overflow: hidden;
			background-color: $white;
 			-webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
			-moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
			box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
			position: absolute;
			z-index: 3;
			border-radius: .35rem .35rem 0 0;
			img {
				width: 100%;
			}
			&:nth-child(1) {
				bottom: -37px;
				left: 0;
				-webkit-transform: scale(.8, .8);
				-moz-transform: scale(.8, .8);
				transform: scale(.8, .8);
				z-index: 2;
			}
			&:nth-child(2) {
				left: 50%;
				margin-left: -300px;
				z-index: 4;
				bottom: 0;
			}
			&:nth-child(3) {
				bottom: -37px;
				right: 0;
				-webkit-transform: scale(.8, .8);
				-moz-transform: scale(.8, .8);
				transform: scale(.8, .8);
				z-index: 2;
			}
		}
	}
}