/*________________________ Variables ____________*/

$white: #FFFFFF
$highlight: #f6f1f5
$gray_background: #217bb7
$gray_copy: #3e4851
$dark_gray: #00649f


/*________________________ Global Styles ____________*/

body {
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}

.button {
	border: none;
	outline: none;
	border-radius: 2rem;
	padding: .5rem 3rem;
	font-weight: 700;
	color: $white;
	text-decoration: none;
	text-align: center;
}

/*________________________ Banner Styles ____________*/

#banner {
	background-image: url(../images/banner_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	header {
		padding 2rem 0;
	}
	#logo {
		color: $white;
		font-weight: 700;
		font-size: 1.35rem;
		float: left;
		margin: 0;
		span {
			font-weight: 400;
		}
	}
	nav {
		float: right;
		a {
			color: $white;
			font-weight: 700;
			text-decoration: none;
			margin-left: 2rem;
		}
	}
	.content {
		padding: 2rem 0 6rem 0;
		.title, .sub_title {
			color: $white;
			text-align: center;
		}
		.title {
			font-size: 3.5rem;
			margin: 0;
		}
		.sub_title {
			font-weight: 400;
			font-size: 1.35rem;
			width: 500px;
			margin: 0 auto 2rem auto;
			line-height: 1.75;
		}
		.button_wrapper {
			text-align: center; 
			margin: 3rem 0; 
		}
	}
}